.container {
    
}

.inputContainer {
    display: flex;
    width: 100%;
}

.input {
    border: 2px solid white;
    padding: 0 20px;
    width: 100%
}

.button {
    border: 2px solid white;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: black;
    margin: 0 2.5%;
    cursor: pointer;
}

.suggestion {
    cursor: pointer;
    position: fixed;
    z-index: 1000;
    width: 9%;
}

.options {
    text-transform: capitalize;
    background-color: rgb(171, 188, 247);
    font-weight: 500;
    padding: 0 10%;
    width: 100%;
    color: black;
    text-align: center;
}